{% extends "base3.html" %}
{% block title %}View Orders{% endblock %}
{% block content %}

<head>
    <style>
        .rm {
            text-align: left;
            margin-bottom: 20px;
        }

        .product {
            margin-bottom: 20px;
            border: 2px solid #333;
            padding: 15px;
            border-radius: 5px;
            background-color: white;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>

<body>
    <div class="container">
        {% for j in orders %}
        <ul>
            <h1>ORDER {{ loop.index }}</h1>
            {% for i in orders[j] %}
            <li class="product">
                <h5>{{ i[0] }}</h5>
                <img src="{{ i[3] }}" alt="image for {{ i[0] }}" width="250" height="150">
                <p>Status : {{ i[2] }}</p>
            </li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>
</body>
{% endblock %}